@import '../../vars.css';

.root {
  color: #fff;
  background-image: linear-gradient(to bottom, var(--bright) 0%, var(--bright-darker) 100%);
  border: 1px solid var(--bright-darker);
  text-align: center;
  border-radius: 2px;
  padding: .4em;
  display: block;
  width: 100%;
  display: block
}
