@import '../../vars.css';

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  appearance: none;
  margin: calc(var(--spacing)*1.5) auto;
}

.button strong {
  font-weight: 800;
  color: var(--bright);
}

.button span {
  color: #666;
  font-size: .9em;
}

.button x-box {
  display: block;
  border: 2px solid var(--bright);
  border-radius: 2px;
  height: 6em;
  width: 6em;
  display: flex;
  color: var(--bright);
  align-items: center;
  justify-content: center;
  margin-bottom: var(--spacing);
}
