.addAnother {
	margin: var(--spacing);
}

.footer {
	display: flex;
	align-content: center;
	justify-content: space-between;
}

.footer button {
	width: auto;
}

.root {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.empty {
	margin: auto;
	padding: var(--spacing);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.pad {
	padding: var(--spacing);
}

.cvTable {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
}
