@import '../../vars.css';

.root {
	overflow: hidden;
	display: block;
	width: 100%;
	&:not(:last-child) {
		border-bottom: 1px solid var(--border);
	}
	& > * {
		max-width: 100%;
	}
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.white {
	background: #fff;
}

.withPadding {
	padding: calc(var(--spacing) * 0.75) var(--spacing);
}
