@import '../../vars.css';

.root {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  width: 100%;
}

.content {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-content: stretch;
  flex-direction: column;
}
